/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	background-color: #FFFEF8;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

main {
	min-height: calc(100vh - 142.4px - 16.8px - 150px);
}

a,
button,
li,
input[type="submit"] {
	cursor: pointer;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

/****** NAV ******/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover,
li a:visited:hover,
li a:hover {
	color: #B1663C;
}

li a {
	text-decoration: none;
	color: black;
}

li a:visited {
	color: black;
}
/****** INTRODUCTION ******/
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/****** PORTFOLIO ******/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.portfolio-text {
	position: relative;
}

.filter-links {
	display: flex;
	margin: 51px;
	gap: 10px;
	justify-content: center;
}

.filter-links a {
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
	min-width: 100px;
	padding: 9px;
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	text-decoration: none;
}

.filter-links a.active,
.filter-links a:hover {
	color: white;
	background: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/****** CONTACT ******/
#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/****** LOGIN ******/
#login {
	display: flex;
	flex-direction: column;
	width: 33%;
	margin: auto;
	margin-top: 150px;
	justify-content: center;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	color: #3D3D3D;
}

input[type="submit"] {
	height: 36px !important;
	font-size: 14px !important;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

/****** FOOTER ******/
footer {
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/****** MODAL ******/
.edit-mode-overlay {
	display: inline-flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	font-size: 16px;
	font-weight: 400;
	gap: 21px;
}

.edit-button {
	display: flex;
	gap: 10px;
	position: absolute;
	top: 9px;
	left: calc(50% + 111px);
	margin-left: 10px;
	color: black;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
	z-index: 9999;
}

.modal-content {
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 2em auto;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 60px 105px 45px 105px;
	text-align: center;
}

.modal-content hr {
	height: 1px;
	background-color: #B3B3B3;
	border: none;
	margin-bottom: 38px;
}

.modal-content .modal-img-button {
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 10px 49px;
	text-align: center;
	border-radius: 60px;
}

.modal-img-button {
	width: 139px;
	margin: 2em auto 10px auto;
}

.close-modal-button {
	width: 22px;
	height: 22px;
	position: absolute;
	top: 26px;
	right: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-gallery-title,
.modal-upload-title {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal-gallery {
	margin-top: 46px;
	margin-bottom: 67px;
	display: grid;
	align-items: center;
	width: 420px;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 6px;
	grid-row-gap: 26px;
}

.modal-gallery img {
	max-height: 105px;
	max-width: 78px;
}

.delete-icon {
	color: white;
	background-color: black;
	position: absolute;
	top: 6px;
	right: 6px;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
}

.previous-modal-button {
	display: flex;
	width: 21px;
	height: 18px;
	position: absolute;
	top: 27px;
	left: 30px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

#addImgForm .img-form {
	margin-top: 46px;
	width: 420px;
	display: flex;
	flex-direction: column;
}

.img-upload {
	display: flex;
	gap: 7px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 169px;
	flex-shrink: 0;
	border-radius: 3px;
	background: #E8F1F6;
}

.img-upload .imgIcon {
	font-size: 68px;
	color: #B9C5CC;
}

.preview-img {
	height: 100%;
}

.error {
	color: red;
	text-align: center;
	font-family: Work Sans;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btn-upload {
	width: auto !important;
	border-radius: 50px;
	background: #CBD6DC;
	padding: 10px 33px;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: hidden;
	z-index: 3;
	white-space: nowrap;
}

.btn-upload input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 105%;
	cursor: pointer;
	opacity: 0;
}

.upload-text {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.img-form input,
.img-form select {
	background-color: white;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.img-form select {
	margin-bottom: 47px;
}

.img-form hr {
	display: block;
	height: 1px;
	background-color: #B3B3B3;
	border: none;
	margin-bottom: 38px;
}

#addImgForm label {
	text-align: start;
	margin: 2em 0 1em 0;
}

#addImgForm hr {
	margin: 0px;
}

.display-none {
	display: none !important;
}